{% extends 'home.html' %}
{% load static %}
{% block content %}
<!------------------------------------------------------ CREATE SECTION ----------------------------------------------------->
<form action="{% url 'users:createpin' user=user_name%}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" id="myFile" name="image-file" required>
    <br>
    <h4>Add the basics</h4>
    <p>Idea pin title
    <p>
        <input type="text" placeholder="Add title" name="title">
    <p>Organise on a board</p>
    <input type="text" name="organise">

    <p>Tagged topics</p>
    <input type="Search for a tag" name="topic">

    <p>Don't worry, people won't see your tags</p>

    <input type="submit">
</form>
{% endblock %}