<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kit.fontawesome.com/716d1f19dd.js" crossorigin="anonymous"></script>
    <title>Pinterest</title>
</head>

<body>

    <!------------------------------------------------------ HEADER SECTION ----------------------------------------------------->
    <header>
        <div class="navbar-container">
            <div class="navbar">
                <div class="components-container">
                    <div class="logo-container">
                        <img src="{% static 'images/Pinterest-Logo.png' %}">
                    </div>
                    <div class="text-container">
                        <div class="navigations">
                            <ul>
                                <li id="drop-down" class="hide"> Home <i class="fa-solid fa-chevron-down"></i></li>
                                <div class="dropdown-content" id="drop">
                                    <a href="{% url 'users:home' user=user_name %}">
                                        <li><button id="home" class="active">Home</button></li>
                                    </a>
                                    <a href="#">
                                        <li><button id="today">Today</button></li>
                                    </a>
                                    <a href="{% url 'users:createpin' user=user_name %}">
                                        <li><button id="create">Create <i class="fa-solid fa-chevron-down"></i></button>
                                        </li>
                                    </a>
                                </div>
                            </ul>
                        </div>
                        <div class="search-box-container">
                            <input type="text" placeholder="Search" name="search">
                            <i id="icon" class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="other-icons-container">
                            <div class="icons-container">
                                <div class="bell-icon">
                                    <i id="icon1" class="fa fa-bell"></i>
                                </div>
                                <div class="chat-icon">
                                    <i id="icon2" class='far fa-comment-dots'></i>
                                </div>
                                <div class="user-icon">
                                    <a href="{% url 'users:profile' user=request.user %}"> <i id="icon3"
                                            class="fas fa-user-circle "></i></a>
                                </div>

                                <div class="drop-down-icon">
                                    <i id="other-options" class="fa-solid fa-chevron-down"></i>
                                    <div class="dropdown-content2" id="drop2">
                                        <form action="{% url 'users:home' user=user_name %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" value="logout-user">Log out</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% block content %}

    <!------------------------------------------------------ ALL POSTS SECTION ----------------------------------------------------->
    <section class="all-posts">
        <div class="posts-container">
            <div class="posts">
                {% for post in posts %}
                {% if forloop.counter0|divisibleby:4 %}
                <div class="user-posts-4">
                    <form action="{% url 'users:home' user=user_name%}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{post.id}}" name="post-id">
                        <a href="/post/{{post.id}}"><img class="post-image" src="{{post.user_post.url}}"></a>
                        <button class="post-button" name='save-post' type="submit">Save</button>
                    </form>
                </div>
                {% elif forloop.counter|divisibleby:3 %}
                <div class="user-posts-3">
                    <form action="{% url 'users:home' user=user_name%}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{post.id}}" name="post-id">
                        <a href="/post/{{post.id}}"><img class="post-image" src="{{post.user_post.url}}"></a>
                        <button class="post-button" name='save-post' type="submit">Save</button>
                    </form>
                </div>
                {% elif forloop.counter|divisibleby:2 %}
                <div class="user-posts-2">
                    <form action="{% url 'users:home' user=user_name%}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{post.id}}" name="post-id">
                        <a href="/post/{{post.id}}"><img class="post-image" src="{{post.user_post.url}}"></a>
                        <button class="post-button" name='save-post' type="submit">Save</button>
                    </form>
                </div>
                {% else %}
                <div class="user-posts-1">
                    <form action="{% url 'users:home' user=user_name%}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{post.id}}" name="post-id">
                        <a href="/post/{{post.id}}"><img class="post-image" src="{{post.user_post.url}}"></a>
                        <button class="post-button" name='save-post' type="submit">Save</button>
                    </form>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    {% endblock %}
    <script src="{% static 'js/home.js' %}"></script>
    <script>
        var counter = 0;
        function getSeconds() {

            let windowWidth = window.innerWidth;
            if (windowWidth >= 550 && counter === 0) {
                // $('.icon').addClass('fa-xl');
                document.getElementById('icon').className += ' fa-xl';
                document.getElementById('icon1').className += ' fa-xl';
                document.getElementById('icon2').className += ' fa-xl';
                document.getElementById('icon3').className += ' fa-xl';
                counter += 1;
            } else if (counter === 1) {
                // $('i').removeClass('fa-xl');
                // document.getElementById('icon').className.remove(' fa-xl');
                // document.getElementById('icon1').className.remove(' fa-xl');
                // document.getElementById('icon2').className.remove(' fa-xl');
                // document.getElementById('icon3').className.remove(' fa-xl');
                counter -= 1;
            }
        }
        setInterval(getSeconds, 1000);

    </script>
</body>

</html>