<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <script src="https://kit.fontawesome.com/716d1f19dd.js" crossorigin="anonymous"></script>
    <title>Pinterest</title>
</head>

<body>
    <header>

        <!------------------------------------------------------ HEADER SECTION ----------------------------------------------------->
        <div class="header-container">
            <div class="header-context">
                <div class="logo-container">
                    <div class="logo">
                        <img src="{% static 'images/Pinterest-Logo.png' %}">
                    </div>
                    <div class="logo-text">
                        <h1>Pinterest</h1>
                    </div>
                </div>
                <div class="header-navigation">
                    <div class="navigations">
                        <ul>
                            <a href="#">
                                <li>About</li>
                            </a>
                            <a href="#">
                                <li>Business</li>
                            </a>
                            <a href="#">
                                <li>Press</li>
                            </a>
                        </ul>
                    </div>
                    <div class="header-buttons">
                        <a href="/login"><button id="log-in">Log in</button></a>
                        <a href="/register"><button id="register">Sign up</button></a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!------------------------------------------------------ HEADER SECTION ----------------------------------------------------->
    <section class="mobile-view">
        <div class="mobile-container">
            <div class="mobile">
                <div class="mobile-context">
                    <img src="{% static 'images/logo-white.png' %}">
                    <h1>Welcome to<br> Pinterest</h1>
                    <div class="button-container">
                        <button class="email">Continue with email</button>
                        <button class="face"><img src="{% static 'images/facebook-logo.png' %}"> Continue with
                            Facebook</button>
                        <button class="gmail"><img src="{% static 'images/google-logo.webp' %}">Gmail</button>
                    </div>
                    <p> Already a member ? <a href="/login">Log in</a> </p>
                    <p class="business">Are you a bussiness? Get started here</p>
                    <p class="details">By continunin you agree to Pinterest's <a href="#">Terms of Service</a> and
                        acknowledge that you're read out <a href="#"> Privacy Policy. Notice at collection.</a></p>

                    <p class="signup">New to Pinterest? <br><a href="/register">Sign up</a></p>
                </div>
            </div>
        </div>
    </section>

    <!------------------------------------------------------ SECTION 1 ----------------------------------------------------->
    <section class="section-1">
        <div class="container-1">
            <div class="container-1-context">
                <div class="heading-1">
                    <h4>Get Your Next</h4>
                    <h6>DIY idea</h6>
                </div>
            </div>
        </div>
    </section>

    <!------------------------------------------------------ SEARCH FOR IDEA SECTION 2 ----------------------------------------------------->
    <section class="section-2">
        <div class="container-2">
            <div class="container-2-context">
                <div class="image-section">
                    <div class="image1">
                        <img src="{% static 'images/image1.png' %}">
                        <div class="image2">
                            <img src="{% static 'images/image2.png' %}">
                        </div>
                        <div class="image3">
                            <img src="{% static 'images/image3.png' %}">
                        </div>
                        <div class="image4">
                            <img src="{% static 'images/image4.png' %}">
                        </div>
                        <div class="image-search">
                            <button>
                                <h4><i class="fa-solid fa-magnifying-glass"></i>easy chicken dinner</h4>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="image-context">
                    <div class="slogan">
                        <h1>Search for an idea</h1>
                    </div>
                    <div class="slogan-text">
                        <h3>What do you want to try next? Think of something you’re into – such as 'easy chicken
                            dinner' – and see what you find.</h3>
                    </div>
                    <div class="slogan-button">
                        <button>Explore</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!------------------------------------------------------ SAVE IDEA SECTION 3 ----------------------------------------------------->
    <section class="section-3">
        <div class="container-3">
            <div class="container-3-context">
                <div class="text-section">
                    <div class="container-3-heading">
                        <h1>Save idea you like</h1>
                    </div>
                    <div class="heading-text">
                        <h3>Collect your favourites so you can get back them later.</h3>
                    </div>
                    <div class="heading-button">
                        <button>Explore</button>
                    </div>
                </div>
                <div class="text-section-images">
                    <div class="text-image-1">
                        <p>Fern future home vibe</p>
                        <img src="{% static 'images/future-home-vibes.png' %}">
                    </div>
                    <div class="text-image-2">
                        <p>My scandinavian bedroom</p>
                        <img src="{% static 'images/scandinavian-bedroom.png' %}">
                    </div>
                    <div class="text-image-3">
                        <p>The decking of my dream</p>
                        <img src="{% static 'images/deck-of-dreams.png' %}">
                    </div>
                    <div class="text-image-4">
                        <p>Serve my drink in style</p>
                        <img src="{% static 'images/serve-my-drinks.png' %}">
                    </div>
                    <div class="text-image-5">
                        <p>Our bathroom upgrade</p>
                        <img src="{% static 'images/bathroom-upgrade.png' %}">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!------------------------------------------------------ DO IT SECTION 4 ----------------------------------------------------->
    <section class="section-4">
        <div class="container-4">
            <div class="container-4-context">
                <div class="container-4-image-section">
                    <div class="container-4-image1">
                        <img src="{% static 'images/largeimage.png' %}">
                    </div>
                </div>
                <div class="container-4-text">
                    <div>
                        <h1>See it, make it, try it, do it</h1>
                        <p>The best part of Pinterest is discovering new things and ideas from people around the
                            world.
                        </p>
                    </div>
                    <div class="button-4">
                        <button>Explore</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!------------------------------------------------------ FOOTER SECTION ----------------------------------------------------->
    <footer class="website-navigations">
        <div class="navigations-container">
            <div class="footer-navigations">
                <p><a>Terms of Service </a>
                    <a> Privacy Policy </a>
                    <a> Help </a>
                    <a> iPhone app </a>
                    <a> Android app </a>
                    <a> Users </a>
                    <a> Collections </a>
                    <a> Today </a>
                    <a> Explore </a>
                    <a> Watch</a>
                </p>
            </div>
        </div>
    </footer>
    {% block content %}
    <!------------------------------------------------------ FORM SECTION ----------------------------------------------------->
    {% endblock %}
    <script src="{% static 'js/index.js' %}"></script>
</body>

</html>