{% extends 'index.html' %}
{% load static %}
{% block content %}
<!------------------------------------------------------ LOGIN SECTION ----------------------------------------------------->
<div id="log-form" class="user-login">
    <div class="login-container">
        <div class="login-form">
            <div class="button-cancel-1">
                <a href="/"><span id="close">&times;</span></a>
            </div>
            <div class="login-form-container">
                <form id="form1" action="/login" method="POST">
                    {% csrf_token %}
                    {{error}}
                    <div class="logo">
                        <img src="{% static 'images/Pinterest-Logo.png' %}">
                    </div>
                    <h3>Welcome to Pinterest</h3>
                    <div class="input-div-area-login">
                        <div class="login-input-area">
                            <label>Email address</label><br>
                            <input id="email-login" type="email" placeholder="Email address" name="email" required>
                            <p id="login-email-error">Hmm...that doesn't look like an email address</p>
                        </div>
                        <div class="login-input-area">
                            <label>Password</label><br>
                            <input id="password-login" type="password" placeholder="Password" name="pass" required>
                            <p id="login-password-error">Your password is too short. It needs to be 6+
                                characters.</p>
                        </div>
                    </div>
                    <p>Forgotten your password?</p>
                    <div>
                        <button type="submit" id="continue-login">Log in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}