{% extends 'home.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/postdetail.css' %}">
<section class="first-container">
    <div class="header-container">
        <div class="post-container1">
            <div class="container">
                <div class="back-arrow">
                    <a href="{% url 'users:home' user=user_name %}"><i class="fa fa-arrow-left"
                            aria-hidden="true"></i></a>
                </div>
                <div>
                    <div class="form-container">
                        {% for p in post %}
                        <div class="image">
                            <img src="{{p.user_post.url}}">
                        </div>
                        <div class="context">
                            <div class="buttons">
                                <div class="icons">
                                    <i class="fa-solid fa-ellipsis other-icons"></i>

                                    <i class="fa-solid fa-upload other-icons"></i>

                                    <i class="fa-solid fa-link other-icons"></i>

                                </div>
                                <form action="/post/{{p.id}}" method="POST">
                                    {% csrf_token %}
                                    <div class="save-button">
                                        <button name="save" type="submit">Save</button>
                                    </div>
                                </form>
                            </div>

                            <p id="user-name"> Uploaded by
                                <a href="{% url 'users:profile' user=p.user_name %}">{{p.user_name}}</a>
                            </p>

                            <div class="follow-user">
                                <div>
                                    <p id="user"><i id="icon-user" class="fas fa-user-circle fa-xl user"></i></p>
                                </div>
                                <div class="user-profile">
                                    <a href="{% url 'users:profile' user=p.user_name %}">{{p.user_name}}</a>
                                    <p>{{follow}} Follower</p>
                                </div>
                            </div>

                            {% if count != 0 %}
                            <h3 id="comment-heading">{{count}} Comment <i id="down"
                                    class="fa-solid fa-chevron-down down-arrow"></i> <i id="right"
                                    class="fa-solid fa-chevron-right right-arrow"></i></h3>
                            {% else %}
                            <h3 id="comment-heading">Comment <i id="down"
                                    class="fa-solid fa-chevron-down down-arrow"></i> <i id="right"
                                    class="fa-solid fa-chevron-right right-arrow"></i></h3>
                            {% endif %}
                            <div id="section-comments" class="all-comments">
                                {% for c in comments %}

                                <p id="user-comment"><i id="icon-user" class="fas fa-user-circle fa-xl user"></i> <a
                                        href="{% url 'users:profile' user=c.name %}">{{c.name}}</a>
                                    {{c.comment}}</p>
                                <p>{{c.date_added|date:"Y-m-d H:i"}} <!--<button id="reply">Reply</button>---></p>
                                {% endfor %}
                            </div>
                            <form action="/post/{{p.id}}" method="POST">
                                {% csrf_token %}
                                <div class="comment-grid">
                                    <i id="icon-user" class="fas fa-user-circle fa-xl"></i>
                                    <input id="comments-area" name="comment" type="text" placeholder="Add a comment">
                                </div>
                                <div id="process" class="comment-process">
                                    <button id="cancel-button" name="cancel" type="submit">Cancel</button>
                                    <button id="done-button" name="done" type="submit">Done</button>
                                </div>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="help">
                    <i class="fa-regular fa-circle-question"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="second-container-post">
    <div class="second-container-context">
        <div class="second-container">
            <div class="second-container-heading">
                <h1>More like this</h1>
            </div>
            <div class="posts-container">
                <div class="posts">
                    {% for posts in allposts %}
                    {% for p in post %}
                    {% if forloop.counter|divisibleby:4 and posts.id != p.id %}
                    <div class="user-posts-4">
                        <form action="{% url 'users:home' user=user_name%}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="{{posts.id}}" name="post-id">
                            <a href="/post/{{posts.id}}"><img class="post-image" src="{{posts.user_post.url}}"></a>
                            <button class="post-button" name='save-post' type="submit">Save</button>

                        </form>
                    </div>
                    {% elif forloop.counter|divisibleby:3 and posts.id != p.id %}
                    <div class="user-posts-3">
                        <form action="{% url 'users:home' user=user_name%}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="{{posts.id}}" name="post-id">
                            <a href="/post/{{posts.id}}"><img class="post-image" src="{{posts.user_post.url}}"></a>
                            <button class="post-button" name='save-post' type="submit">Save</button>
                        </form>
                    </div>
                    {% elif forloop.counter|divisibleby:2 and posts.id != p.id %}
                    <div class="user-posts-2">
                        <form action="{% url 'users:home' user=user_name%}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="{{posts.id}}" name="post-id">
                            <a href="/post/{{posts.id}}"><img class="post-image" src="{{posts.user_post.url}}"></a>
                            <button class="post-button" name='save-post' type="submit">Save</button>
                        </form>
                    </div>
                    {% else %}
                    {% if posts.id != p.id%}
                    <div class="user-posts-1">
                        <form action="{% url 'users:home' user=user_name%}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="{{posts.id}}" name="post-id">
                            <a href="/post/{{posts.id}}"><img class="post-image" src="{{posts.user_post.url}}"></a>
                            <button class="post-button" name='save-post' type="submit">Save</button>
                        </form>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'js/postdetails.js' %}"></script>
{% endblock %}