{% extends 'home.html' %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<!------------------------------------------------------ PROFILE SECTION ----------------------------------------------------->
<div class="profile-container">
    <div class="image-container">
        <img src="../static/images/user.jpeg">
    </div>
    <div class="user-details">
        <h1>{{user_name}}</h1>
        <h4>{{user_email}}</h4>
        <div class="user-buttons">
            {% if id %}
            <p>{{follow_count}} follower . {{following_count}} following</p>
            <button>Message</button>
            {% if already_followed == 0 %}
            <a href="/follow/{{user_name}}"><button class="follow">Follow</button></a>
            {% else %}
            <a href="/follow/{{user_name}}"><button class="unfollow">Following</button></a>
            {% endif %}
            {% else %}
        </div>
        <button class="share">Share</button>
        <button>Edit Profile</button>
        {% endif %}
    </div>
    <div class="pins-container">
        <ul>
            <li id="user-created">Created</li>
            <li id="user-saved">Saved</li>

        </ul>
    </div>

    <div id="user-created-pins" class="created-user-posts">
        {% if posts %}
        <div class="posts-container">
            <div class="posts">
                {% for post in posts %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="user-posts-4">
                    <form action="{% url 'users:home' user=user_name%}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{post.id}}" name="post-id">
                        <a href="/post/{{post.id}}"><img class="post-image" src="{{post.user_post.url}}"></a>
                        <button class="post-button" name='save-post' type="submit">Save</button>
                    </form>
                </div>
                {% elif forloop.counter|divisibleby:3 %}
                <div class="user-posts-3">
                    <form action="{% url 'users:home' user=user_name%}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{post.id}}" name="post-id">
                        <a href="/post/{{post.id}}"><img class="post-image" src="{{post.user_post.url}}"></a>
                    </form>
                </div>
                {% elif forloop.counter|divisibleby:2 %}
                <div class="user-posts-2">
                    <form action="{% url 'users:home' user=user_name%}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{post.id}}" name="post-id">
                        <a href="/post/{{post.id}}"><img class="post-image" src="{{post.user_post.url}}"></a>
                    </form>
                </div>
                {% else %}
                <div class="user-posts-1">
                    <form action="{% url 'users:home' user=user_name%}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{post.id}}" name="post-id">
                        <a href="/post/{{post.id}}"><img class="post-image" src="{{post.user_post.url}}"></a>
                    </form>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="created-post-context">
            <strong>
                <p>Inspire with an Idea Pin</p>
            </strong>
            <a href="{% url 'users:createpin' user=user_name %}"><button> Create </button></a>
        </div>
        {% endif %}
    </div>
    <div id="user-saved-pins" class="saved-post">
        {% if savedpost %}

        <div class="posts-container">
            <div class="posts">
                {% for saved in savedpost %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="user-posts-4">
                    <form action="{% url 'users:home' user=user_name%}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{post.id}}" name="post-id">
                        <a href="/post/{{saved.post.id}}"><img class="post-image"
                                src="{{saved.post.user_post.url}}"></a>
                    </form>
                </div>
                {% elif forloop.counter|divisibleby:3 %}
                <div class="user-posts-3">
                    <form action="{% url 'users:home' user=user_name%}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{post.id}}" name="post-id">
                        <a href="/post/{{saved.post.id}}"><img class="post-image"
                                src="{{saved.post.user_post.url}}"></a>
                    </form>
                </div>
                {% elif forloop.counter|divisibleby:2 %}
                <div class="user-posts-2">
                    <form action="{% url 'users:home' user=user_name%}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{post.id}}" name="post-id">
                        <a href="/post/{{saved.post.id}}"><img class="post-image"
                                src="{{saved.post.user_post.url}}"></a>
                    </form>
                </div>
                {% else %}
                <div class="user-posts-1">
                    <form action="{% url 'users:home' user=user_name%}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{post.id}}" name="post-id">
                        <a href="/post/{{saved.post.id}}"><img class="post-image"
                                src="{{saved.post.user_post.url}}"></a>
                    </form>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="saved-post-context">
            <p>You haven't saved any Pins yet</p>
            <a href="{% url 'users:home' user=user_name %}"><button>Find ideas</button></a>
        </div>
        {% endif %}
    </div>
</div>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}