{% extends 'index.html' %}
{% load static %}
{% block content %}

<div id="form-reg" class="user-register">
    <div class="register-container">
        <div class="register-form">
            <div class="button-cancel-2">
                <a href="/"><span id="cancel">&times;</span></a>
            </div>
            <div class="register-form-container">
                <form id="form2" action="/register" method="POST">
                    {{error}}
                    {% csrf_token %}
                    <div class="logo">
                        <img src="{% static 'images/Pinterest-Logo.png' %}">
                    </div>
                    <h3>Welcome to Pinterest</h3>
                    <h5>Find new ideas to try</h5>
                    <div class="input-div-register-area">
                        <div class="input-area">
                            <label>Email</label><br>
                            <input id="email-register" type="email" placeholder="Email Address" name="email-re"
                                required>
                            <p id="register-email-error">Hmm...that doesn't look like an email address</p>
                        </div>
                        <div class="input-area">
                            <label>Password</label><br>
                            <input id="password-register" type="password" placeholder="Password" name="pass-re"
                                required>
                            <p id="register-password-error">Your password is too short. It needs to be 7+
                                characters.</p>
                        </div>
                        <div class="input-area">
                            <label>Age</label><br>
                            <input id="age-register" type="text" placeholder="Age" name="age" required>
                            <p id="register-age-error">Please add a valid number</p>
                        </div>
                    </div>
                    <div>
                        <button id="continue-register" type="submit">Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}