<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/username.css' %}">
    <script src="https://kit.fontawesome.com/716d1f19dd.js" crossorigin="anonymous"></script>
    <title>Pinterest</title>
</head>

<body>

    <header>
        <div class="navbar-container">
            <div class="navbar">
                <div class="components-container">
                    <div class="logo-container">
                        <img src="{% static 'images/Pinterest-Logo.png' %}">
                    </div>
                    <div class="text-container">
                        <div class="navigations">
                            <ul>
                                <li id="drop-down" class="hide"> Home <i class="fa-solid fa-chevron-down"></i></li>
                                <div class="dropdown-content" id="drop">
                                    <a href="#">
                                        <li><button class="active">Home</button></li>
                                    </a>
                                    <a href="#">
                                        <li><button>Today</button></li>
                                    </a>
                                    <a href="#">
                                        <li><button>Create <i class="fa-solid fa-chevron-down"></i></button></li>
                                    </a>
                                </div>
                            </ul>
                        </div>
                        <div class="search-box-container">
                            <input type="text" placeholder="Search" name="search">
                            <i id="icon" class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="other-icons-container">
                            <div class="icons-container">
                                <div class="bell-icon">
                                    <i id="icon1" class="fa fa-bell"></i>
                                </div>
                                <div class="chat-icon">
                                    <i id="icon2" class='far fa-comment-dots'></i>
                                </div>
                                <div class="user-icon">
                                    <a href="#"> <i id="icon3" class="fas fa-user-circle "></i></a>
                                </div>
                                <div class="drop-down-icon">
                                    <i id="other-options" class="fa-solid fa-chevron-down"></i>
                                    <div class="dropdown-content" id="drop2">
                                        <form action="{% url 'users:username'}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" value="logout-user">Log out</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="user-modal">
        <div class="modal">
            <div class="modal-context">
                <div class="context">
                    <div class="pin-logo">
                        <img src="{% static 'images/Pinterest-Logo.png' %}">
                    </div>
                    <h3>Welcome to Pinterest</h3>
                    <p id="mail">{{user_email}}</p>
                    <br>

                    <form action="/username" method="POST">
                        {% csrf_token %}
                        <input type="text" placeholder="Name" name="username">
                        <p class="answer">Your answers to the next few questions will help us find the right ideas for
                            you
                        </p>
                        <button id="next" type="submit">Next</button>
                    </form>
                    <p class="account">Already have a pinterest account?</p>
                    <a href="/login">
                        <p class="log">Login instead</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'js/home.js' %}"></script>
    <script>
        var counter = 0;
        function getSeconds() {

            let windowWidth = window.innerWidth;
            if (windowWidth >= 550 && counter === 0) {
                // $('.icon').addClass('fa-xl');
                document.getElementById('icon').className += ' fa-xl';
                document.getElementById('icon1').className += ' fa-xl';
                document.getElementById('icon2').className += ' fa-xl';
                document.getElementById('icon3').className += ' fa-xl';
                counter += 1;
            } else if (counter === 1) {
                // $('i').removeClass('fa-xl');
                // document.getElementById('icon').className.remove(' fa-xl');
                // document.getElementById('icon1').className.remove(' fa-xl');
                // document.getElementById('icon2').className.remove(' fa-xl');
                // document.getElementById('icon3').className.remove(' fa-xl');
                counter -= 1;
            }
        }
        setInterval(getSeconds, 1000);

    </script>
</body>

</html>