* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: inline;
    list-style-type: none;
}

a {
    background-color: white;
    color: rgb(121, 121, 121);
    text-decoration: none;
}

button {
    border: none;
}

/********************************************************* MOBILE FIRST *************************************************************/

.logo-container {
    height: 1.5rem;
    width: 1.5rem;
}

.logo-container img {
    height: 100%;
    width: 100%;
}

header {
    position: sticky;
    top: .01px;
    background-color: #FFFFFF;
    z-index: 5;
}

.components-container {
    display: grid;
    padding: 1rem;
    grid-template-columns: 3rem 1fr;
}

.text-container {
    display: grid;
    text-align: center;
    grid-template-columns: 5rem 1fr 2fr;
    margin-top: .2rem;
}

.icons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.search-box-container {
    text-align: end;
    color: rgb(121, 121, 121);
    padding-right: .3rem;
}

.search-box-container input {
    display: none;
}

.other-icons-container {
    align-items: center;
    color: rgb(121, 121, 121);
}

.bell-icon :hover,
.chat-icon :hover,
.user-icon :hover,
.drop-down-icon :hover {
    background-color: rgb(197, 197, 197);
    cursor: pointer;
    display: inline;
    border-radius: 50%;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-left: -2rem;
    margin-top: .5rem;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.dropdown-content2 {
    width: 4rem;
    text-align: center;
    display: none;
    position: absolute;
    margin-top: 1.2rem;
    margin-left: -3rem;
    background-color: #FFFFFF;
    z-index: 1;
}

.dropdown-content2 button,
.dropdown-content button {
    background-color: #FFFFFF;
    font-size: 1rem;
}

.dropdown-content button {
    padding: .3rem;
}

.dropdown-content2 button:hover {
    background-color: rgb(197, 196, 196);
}

.dropdown-content button:hover {
    width: 100%;
    background-color: black;
    color: #FFFFFF;
    border-radius: 3rem;
}

.posts {
    position: relative;
    columns: 2;
    margin: 0rem .5rem;
}

.posts form button {
    background-color: #fa0101;
    color: #FFFFFF;
    border-radius: 3rem;
    border: none;
    padding: .8rem 1.5rem;
    margin-bottom: .5rem;
}

.posts form button:hover {
    background-color: #cc0000;
}

.user-posts-1,
.user-posts-2,
.user-posts-3,
.user-posts-4 {
    display: inline-block;
    position: relative;
}

.user-posts-1 img:hover,
.user-posts-2 img:hover,
.user-posts-3 img:hover,
.user-posts-4 img:hover {
    cursor: zoom-in;
}

.user-posts-1 p,
.user-posts-2 p,
.user-posts-3 p,
.user-posts-4 p {
    padding-left: .5rem;
    margin-bottom: .5rem;
}

.user-posts-1,
.user-posts-2,
.user-posts-3,
.user-posts-4 {
    width: 100%;
}

.user-posts-1 img,
.user-posts-2 img,
.user-posts-3 img,
.user-posts-4 img {
    width: 100%;
    position: relative;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
    margin-bottom: .5rem;
}

.user-posts-1 img {
    height: 28rem;
}

.user-posts-2 img {
    height: 24rem;
}

.user-posts-3 img {
    height: 20rem;
}

.user-posts-4 img {
    height: 18rem;
}

.post-button {
    display: none;
    position: absolute;
    z-index: 2;
    margin-left: -6rem;
    margin-top: 1.5rem;
}

.user-posts-1:hover button,
.user-posts-2:hover button,
.user-posts-3:hover button,
.user-posts-4:hover button {
    display: inline;
}

/******************************************************************* TABLET ************************************************************/
@media (width > 33rem) {

    .text-container {
        grid-template-columns: 4rem 1fr 10rem;
    }

    .posts {
        columns: 3;
        margin: 0rem 3rem;
    }

}

@media (width > 60rem) {

    .logo-container {
        margin-top: .2rem;
    }

    .hide {
        display: none;
    }

    .navigations {
        margin-left: -1rem;
        margin-top: -.2rem;
    }

    .navigations .dropdown-content {
        display: block;
        margin: 0;
        padding: 0;
    }

    .navigations .dropdown-content a {
        display: inline-block;
    }

    .navigations .dropdown-content button {
        padding: .5rem .8rem;
        border-radius: 5rem;
        font-size: 1rem;
    }

    .navigations .dropdown-content .active {
        background-color: black;
        color: #FFFFFF;
    }

    .text-container {
        grid-template-columns: 14rem 1fr 10rem;
    }

    .posts {
        columns: 4;
        margin: 0rem 4rem;
    }

    .search-box-container {
        margin-right: 1rem;
    }

    .search-box-container i {
        display: none;
    }

    .search-box-container input {
        display: inline-flex;
        font-size: 1rem;
        padding: .5rem;
        background-color: transparent;
        border-radius: 3rem;
        background-color: rgb(231, 230, 230);
        border: none;
        color: #333;
        width: 100%;
    }

    .icons-container {
        margin-top: .5rem;
    }

}

/******************************************************************* DESKTOP ************************************************************/
@media (width > 80rem) {

    .posts {
        columns: 5;
        margin: 0rem 5rem;
    }

    .posts-container {
        padding: 0rem 1rem;
    }

    .components-container {
        padding-top: 1.5rem;
    }

    .search-box-container input {
        padding: .9rem 0rem .9rem .9rem;
    }

    .search-box-container {
        margin-top: -.5rem;
        margin-right: 1rem;
    }
}