/************************** MOBILE *****************************/

.back-arrow,
.help {
    display: none;
}

.form-container {
    border-radius: 2rem;
    margin: 0rem .3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-container img {
    width: 100%;
    border-radius: 2rem 2rem 0rem 0rem;
}

.context {
    padding: 2rem 1.5rem 0rem 1.5rem;
}

/****************** ICONS *****************/
.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1.5rem;
}

.icons {
    font-size: 1.5rem;
}

.other-icons {
    padding: .5rem;
}

.other-icons:hover {
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(197, 197, 197);
}

.save-button {
    text-align: right;
}

.save-button button {
    border-radius: 3rem;
    padding: .8rem 1rem;
    font-size: .8rem;
    color: white;
    background-color: #fa0101;
}

.save-button button:hover {
    background-color: #cc0000;
}

#user-name,
#user {
    margin-bottom: 1rem;
}

.context a {
    color: black;
    font-weight: bold;
}

.context a:hover {
    text-decoration: underline;
}

#comment-heading {
    padding-bottom: 1rem;
}

.right-arrow {
    display: none;
}

.comment-process {
    display: none;
}

.user {
    color: black;
}

.all-comments {
    margin-bottom: 1rem;
}

.all-comments p {
    margin: .5rem 0rem .5rem 2rem;
}

.comment-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1rem 1fr;
    text-align: right;
}

#icon-user {
    padding-top: 1rem;
}

#comments-area {
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: 3rem;
    border: none;
    border: 1px solid rgb(183, 183, 183);
}

.comment-process {
    margin-top: 1rem;
    text-align: right;
}

.comment-process button {
    padding: .5rem 1rem;
    border-radius: 1rem;
    font-size: 1rem;
}

#done-button {
    background-color: #fa0101;
    color: #FFFFFF;
}

.all-comments {
    text-align: left;
}

.all-comments button {
    padding: .3rem;
    background-color: white;
    cursor: pointer;
    border-radius: 3rem;
}

.second-container-heading {
    text-align: center;
    margin: 1rem 0rem;
}

.follow-user {
    text-align: left;
}

/******************************************************************* TABLET ************************************************************/

@media (width > 60rem) {

    .back-arrow,
    .help {
        font-size: 1.5rem;
        display: block;
    }

    .back-arrow {
        padding-left: 2rem;
        text-align: start;
    }

    .help {
        font-size: 3rem;
        text-align: end;
        padding-right: 2rem;
    }

    .back-arrow i {
        color: black;
    }

    .post-container1 {
        position: relative;
        text-align: center;
        border-radius: 2rem;
    }

    /******************** CONTAINER **********************/

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .image {
        height: 45rem;
        width: 25rem;
    }

    .image img {
        height: 100%;
        object-fit: cover;
        border-radius: 2rem 0rem 0rem 2rem;
    }

    .context {
        width: 20rem;
    }

    .form-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #user-name,
    #comment-heading,
    #user {
        text-align: left;
    }

    #user-name,
    #comment-heading,
    #user {
        padding-left: 1rem;
    }

    .follow-user {
        display: grid;
        grid-template-columns: 3rem 1fr;
    }

    .user-profile p {
        font-size: .8rem;
    }

}

/******************************************************************* DESKTOP ************************************************************/
@media (width > 80rem) {

    .form-container {
        width: 70rem;
    }

    .form-container img {
        width: 35rem;
    }

    .context {
        width: 32rem;
    }

    .icons {
        text-align: left;
        padding-left: 1rem;
    }

}