.profile-container {
    text-align: center;
}

.image-container img {
    cursor: pointer;
    border-radius: 50%;
    height: 9rem;
    width: 9rem;
}

.profile-container h1 {
    cursor: pointer;
    margin: .7rem 0rem .3rem 0rem;
    font-weight: 500;
}

.profile-container h4 {
    cursor: pointer;
    color: #959494;
    font-weight: 300;
    margin-bottom: .5rem;
}

.profile-container p {
    cursor: pointer;
    margin-bottom: .5rem;
}

.profile-container button {
    cursor: pointer;
    border: none;
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.profile-container .share {
    margin-left: 2rem;
}

.profile-container li {
    color: black;
    display: inline;
    padding: 0rem .7rem;
    font-size: 1.2rem;
}

.pins-container {
    margin-bottom: 1rem;
}

.all-posts {
    display: inline-grid;
    grid-template-columns: repeat(4, auto);
    text-align: center;
}

/* Follow unfollow button */

.user-details button {
    border-radius: 3rem;
    padding: .8rem 1rem;
    border: none;
    font-size: 1rem;
}

.user-details .follow {
    color: white;
    background-color: #fa0101;
}

.user-details .unfollow {
    background-color: black;
    color: white;
}

/*************** SHOWING THE POST OF THE USER ******************/

.created-user-posts {
    display: none;
}

#user-saved {
    border-bottom: 2px solid black;
}

#user-created:hover,
#user-saved:hover {
    cursor: pointer;
    background-color: #EFEFEF;
    padding: .5rem;
    border-radius: 1rem;
}

#user-saved:hover {
    cursor: pointer;
}

.saved-post {
    display: flex;
    justify-content: center;
}

.saved-post-context,
.created-post-context {
    margin-top: 3rem;
}

.created-post-context button {
    background-color: #fa0101;
    color: #FFF;
}

.saved-post-context p {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 2rem;
}