* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: inline-block;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #354463;
}

button {
    border: none;
}

/***************************************************** MOBILE SECTION **********************************************************/

.header-context,
.user-login {
    display: none;
}

.mobile-view {
    background-image: url(../images/background.jpeg);
    background-position: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    color: #FFFFFF;
}

.mobile-context {
    text-align: center;
}

.mobile-context img {
    margin-top: 10rem;
    height: 2.5rem;
    width: 2.5rem;
}

.mobile-context h1 {
    font-weight: 600;
    margin-bottom: 1.8rem;
}

.button-container {
    display: inline-flex;
    flex-flow: column wrap;
}

.email,
.face,
.gmail {
    border: none;
    text-align: center;
    margin-bottom: .3rem;
    background-color: #fa0101;
    padding: .5rem 2rem;
    color: #FFFFFF;
    border-radius: 2rem;
}

.face {
    background-color: #1877f2;
}

.face img,
.gmail img {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin: 0;
}

.gmail img {
    height: .8rem;
    width: .8rem;
    margin-right: .5rem;
}

.gmail {
    background-color: #FFFFFF;
    color: black;
    margin-bottom: 1rem;
}

.mobile-context p {
    font-weight: 100;
    margin-bottom: 1.8rem;
}

.mobile-context a {
    color: #FFFFFF;
}

.mobile-context .business {
    margin-bottom: 1rem;
}

.mobile-context .details {
    font-size: .7rem;
    font-weight: 100;
    padding: 0rem 1rem;
}

/**************************** SECTION 2 ***************************/


/***************************************************** TABLET SECTION **********************************************************/
@media (width > 40rem) {

    .mobile-view {
        display: none;
    }

    /**************************************************** HEADER SECTION ***********************************************************/
    /* To make seperations in the navbar between logo and other items */
    .header-context {
        display: grid;
        grid-template-columns: 20rem 1fr;
        padding: 1.5rem 0rem 0rem 1.5rem;
    }

    /* to make the logo text and logo next to each other */
    .logo-container {
        display: flex;
        align-items: center;
    }

    /* defining the height and width of the logo */
    .logo {
        height: 2.2rem;
        width: 2.2rem;
    }

    /* making image take the whole height and width of the upper container */
    .logo-container img {
        height: 80%;
        width: 80%;
        margin-top: .2rem;
    }

    /* designing the h1 text of the logo */
    .logo-text h1 {
        color: #cc0000;
        font-weight: 300;
        font-size: 1.2rem;
        margin-left: -.4rem;
    }

    /* making grid template for other items in the navigation bar */
    .header-navigation {
        display: grid;
        margin-left: calc(100% - 25rem);
        grid-template-columns: 1fr 10rem;
        align-items: center;
    }

    /* li in nav bar */
    .navigations li {
        font-weight: 500;
        color: black;
        display: inline-block;
        margin-left: 1rem;
    }

    .header-buttons button {
        font-size: 1rem;
        padding: .5rem .6rem;
        border-radius: 2rem;
        border: none;
    }

    #log-in {
        background-color: #fa0101;
        color: #FFFFFF;
    }

    #log-in:hover {
        background-color: #cc0000;
        cursor: pointer;
    }

    #register:hover {
        background-color: rgb(207, 206, 206);
        cursor: pointer;
    }

    /**************************************************** FORM SECTION ***********************************************************/

    .login-container,
    .register-container {
        position: relative;
    }

    .login-form,
    .register-form {
        display: inline-grid;
        position: absolute;
        bottom: calc(50% - 35rem);
        right: calc(50% - 16rem);
        grid-template-columns: 1fr 2rem;
    }

    .button-cancel-1,
    .button-cancel-2 {
        grid-column: 2;
    }

    .button-cancel-1:hover,
    .button-cancel-2:hover {
        border-radius: 100%;
        background-color: #7f7f7fd7;
    }

    #cancel,
    #close {
        font-size: 2.5rem;
    }

    /*************** LOGIN FORM ****************/

    /* It is covering the entire area which light black color .user-register, */


    .user-register,
    .user-login {
        display: inline-block;
        /* stay in place */
        position: fixed;
        /* z-index is used to make element sit on top of other element. */
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        /* Enable scrolling if needed*/
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
    }

    .login-form-container,
    .register-form-container {
        background-color: #FFFFFF;
        border-radius: 1.5rem;
    }

    .login-form-container img,
    .register-form-container img {
        margin-right: calc(50% - 21.5rem);
        height: 100%;
        width: 100%;
    }

    .register-form-container {
        padding: 1.5rem 3rem;
    }

    .login-form-container {
        padding: 1.5rem 2.5rem;
    }

    .register-form-container h3,
    .login-form-container h3 {
        margin: .7rem 0rem 1rem 0rem;
        font-size: 1.8rem;
        font-weight: 500;
    }

    .input-div-register-area,
    .input-div-area-login {
        padding: 0rem 1rem;
    }

    .input-area,
    .login-input-area {
        display: block;
        text-align: left;
    }

    .input-area label,
    .login-input-area label {
        padding-left: .7rem;
        font-size: .85rem;
        font-weight: 100;
    }

    .input-area p,
    .login-input-area p {
        color: #cc0000;
        font-size: .7rem;
        font-weight: 100;
    }

    .input-area input,
    .login-input-area input {
        display: block;
        font-size: .9rem;
        text-align: left;
        border: none;
        border: 2px solid rgb(201, 201, 201);
        border-radius: 1rem;
        padding: .8rem;
        width: 90%;
        cursor: text;
    }

    .register-form-container p,
    .login-form-container p {
        font-size: .8rem;
        padding-left: 1.2rem;
        text-align: left;
        visibility: hidden;
        margin-bottom: .3rem;
    }

    .register-form-container button,
    .login-form-container button {
        border: none;
        font-size: 1rem;
        color: #FFFFFF;
        padding: .7rem 5rem;
        border-radius: 2rem;
        background-color: #fa0101;
    }

    .register-form-container button:hover,
    .login-form-container button:hover {
        cursor: pointer;
        background-color: #cc0000;
    }

    /****************************** SECTION 1 *****************************/
    .container-1 {
        display: flex;
        justify-content: center;
        background-image: url('../images/image.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 1rem;
        padding-bottom: 23rem;
    }

    .heading-1 {
        display: inline-block;
        font-size: 3rem;
        color: #FFFFFF;
        text-align: center;
        margin-top: calc(50% - 1rem);
    }

    .heading-1 h6 {
        color: rgb(75, 216, 75);
    }

    /****************************** SECTION 2 *****************************/

    .section-2 {
        background-color: #fffd91;
        padding-bottom: 6.5rem;
    }

    .section-2 h1,
    h3 {
        color: #c31952;
    }

    .section-2 button {
        background-color: #c31952;
        color: #fffd91;
        padding: .5rem 1rem;
        border-radius: 3rem;
    }

    .container-2-context {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .container-2-context {
        padding: 0rem 1rem;
    }

    .image-section {
        display: flex;
        position: relative;
        margin-top: calc(50% - 11rem);
        margin-left: calc(50% - 8rem);
        z-index: 1;
    }

    .image1 {
        position: relative;
        height: 30rem;
    }

    .image1 img {
        height: 100%;
    }

    .image2 {
        position: absolute;
        margin-top: calc(50% - 36rem);
        margin-left: calc(50% - 20rem);
        height: 20rem;
        width: 14rem;
        z-index: -1;
    }

    .image2 img {
        width: 100%;
    }

    .image3 {
        position: absolute;
        margin-top: calc(50% - 47rem);
        margin-left: calc(50% + 3rem);
        height: 15rem;
        width: 7rem;
        z-index: -1;
    }

    .image4 {
        position: absolute;
        margin-top: calc(50% - 20rem);
        margin-left: calc(50% + 5rem);
        height: 16rem;
        width: 10rem;
        z-index: -1;
    }

    .image4 img {
        width: 100%;
    }

    .image-search {
        position: absolute;
        margin-top: calc(50% - 30rem);
        margin-left: calc(50% - 12rem);
    }

    .image-search button {
        background-color: #FFFFFF;
        color: #771f47;
        padding: 2.5rem 1.5rem;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .image-search .fa-solid {
        padding-right: .5rem;
        color: black;
    }

    .image-context {
        display: flex;
        flex-flow: column wrap;
        margin-top: calc(50% - 1rem);
        text-align: center;
    }

    .image-context h1 {
        font-size: 4rem;
    }

    .image-context h3 {
        padding: 1rem 10rem;
        font-weight: 300;
        font-size: 1.2rem;
    }

    /****************************** SECTION 3 *****************************/

    .section-3 {
        background-color: #dafff7;
        color: #016b6c;
        padding: 1.5rem;
    }

    .section-3 h3 {
        color: #016b6c;
    }

    .section-3 button {
        padding: .5rem 1rem;
        border-radius: 3rem;
        background-color: #016b6c;
        color: #dafff7;
    }

    .container-3-context {
        display: grid;
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
    }

    .text-section-images {
        display: grid;
        position: relative;
        margin-top: calc(50% - 20rem);
        grid-template-columns: repeat(2, 1fr);
    }

    .text-image-1,
    .text-image-2,
    .text-image-3,
    .text-image-4,
    .text-image-5 {
        position: relative;
    }

    .text-image-1 {
        position: relative;
        text-align: center;
        grid-row: 1/3;
        height: 28rem;
        width: 25rem;
        margin-left: calc(50% - 12rem);
        margin-top: calc(50% - 12rem);
    }

    .text-image-1 img {
        height: 100%;
        width: 100%;
    }

    .text-image-1 p {
        position: absolute;
        margin-top: calc(50% - 3rem);
        margin-left: 1rem;
        margin-right: 1rem;
        color: #FFF;
        font-size: 3rem;
    }

    .text-image-2 {
        position: relative;
        text-align: center;
        height: 15rem;
        width: 15rem;
        margin-left: calc(50% - 5rem);
    }

    .text-image-2 img {
        height: 100%;
        width: 100%;
    }

    .text-image-2 p {
        position: absolute;
        text-align: left;
        margin-top: calc(50% - 10%);
        margin-left: 1rem;
        font-size: 2rem;
        color: #FFF;
    }

    .text-image-3 {
        height: 12rem;
        width: 11rem;
        margin-left: calc(50% - 6rem);
        margin-top: calc(50% - 9rem);
    }

    .text-image-3 img {
        height: 100%;
        width: 100%;
    }

    .text-image-3 p {
        position: absolute;
        text-align: left;
        margin-top: calc(50% + 1rem);
        margin-left: .5rem;
        font-size: 1.5rem;
        color: #FFF;
    }

    .text-image-4 {
        height: 18rem;
        width: 15rem;
        margin-left: calc(50% - 3rem);
    }

    .text-image-4 img {
        height: 100%;
        width: 100%;
    }

    .text-image-4 p {
        position: absolute;
        text-align: left;
        margin-top: calc(50% + 1rem);
        margin-left: 1rem;
        margin-right: 3rem;
        font-size: 2rem;
        color: #FFF;
    }

    .text-image-5 {
        height: 18rem;
        width: 14rem;
        margin-left: calc(50% - 7rem);
        margin-top: calc(50% - 8rem);
    }

    .text-image-5 img {
        height: 100%;
        width: 100%;
    }

    .text-image-5 p {
        position: absolute;
        text-align: left;
        margin-top: calc(50% + 1rem);
        margin-left: 1rem;
        font-size: 2rem;
        color: #FFF;
    }

    .text-section {
        margin-top: calc(50% - 5rem);
    }

    .text-section h1 {
        font-size: 4rem;
    }

    .text-section h3 {
        padding: 1rem 10rem;
        font-weight: 300;
        font-size: 1.2rem;
    }

    .footer-navigations {
        text-align: center;
        padding: .5rem;
    }

    .footer-navigations a {
        padding-right: .5rem;
        color: #000;
    }

    /****************************** SECTION 4 *****************************/

    .section-4 {
        background-color: #ffe2eb;
    }

    .container-4-context {
        display: grid;
        text-align: center;
        grid-template-columns: 45rem 1fr;
    }

    .ccontainer-4-context {
        position: relative;
    }

    .container-4-image1,
    .container-4-image1 img {
        height: 100%;
        width: 100%;
    }

    .container-4-text {
        margin-top: calc(50% - 20%);
        color: #c42f01;
    }

    .container-4-text h1 {
        font-size: 3.5rem;
        padding: 0rem 10rem;
        margin-bottom: .5rem;
    }

    .container-4-text p {
        font-size: 1.5rem;
        padding: 0rem 9rem;
        margin-bottom: 1rem;
    }

    .container-4-text button {
        padding: .5rem;
        background-color: #c42f01;
        border-radius: 3rem;
        color: white;
    }

    .first-image {
        position: absolute;
    }

    .first-image img {
        height: 20rem;
        width: 15rem;
    }

}