.user-modal {
    display: flex;
    justify-content: center;
}

.modal {
    display: inline-block;
    position: fixed;
    /* z-index is used to make element sit on top of other element. */
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Enable scrolling if needed*/
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.modal-context {
    display: flex;
    justify-content: center;
    text-align: center;
}

.context {
    background-color: white;
    margin-top: calc(50% - 40%);
    width: 30rem;
    border-radius: 3rem;
    padding-bottom: 1rem;
}

.pin-logo img {
    height: 10%;
    width: 10%;
    margin: 1rem 0rem;
}

.context h3 {
    font-size: 2rem;
}

.context input {
    display: inline-flex;
    font-size: 1rem;
    padding: .5rem;
    background-color: transparent;
    border-radius: 3rem;
    background-color: rgb(237, 236, 236);
    border: none;
    margin-bottom: 1rem;
}

.context button {
    padding: .5rem 3rem;
    width: 60%;
    font-size: 1rem;
    border-radius: 3rem;
    background-color: #fa0101;
    color: #FFF;
    margin-bottom: 1rem;
}

.context button:hover {
    cursor: pointer;
    background-color: #cc0000;
}

.answer {
    padding: 0rem 3rem;
    margin-bottom: 1rem;
}

.account {
    margin-bottom: .5rem;
}

.log {
    display: inline;
    color: #000;
}

.log:hover {
    padding: 0rem .5rem;
    border-radius: 3rem;
    background-color: rgb(215, 215, 215);
    color: #FFF;
}